/* @keyframes navigateBar{
    from {background-color: rgb(242, 129, 129);}
    to {background-color: rgb(73, 230, 230);}
} */

.navigate:hover {
    /* animation-name : navigateBar;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
}

/* .cursorNavigate:hover {
    animation: navigateBar 1s linear infinite;
} */