/* @keyframes navigateBar{
    from {background-color: rgb(242, 129, 129);}
    to {background-color: rgb(73, 230, 230);}
} */

.navigateItem:hover {
    opacity: 1;
    width : 100%;

}
.navigateItem {
    transition : width 1s;
    opacity : 0;
}

/* .cursorNavigate:hover {
    animation: navigateBar 1s linear infinite;
} */
